<div class="bg-primary text-light py-3">

    <div class="nav container d-flex justify-content-between align-items-center">
        <a routerLink="produits">
            <img src="/assets/logo.svg" alt="Logo épicerie">
        </a>
        <nav>
            <ul class="mb-0">
                <li class="ps-3"><a routerLinkActive="text-dark" routerLink="produits">Produits</a></li>
                <li class="ps-3"><a routerLinkActive="text-dark" routerLink="ajouter">Ajouter un produit</a></li>
            </ul>
        </nav>
       
    </div>
</div>
